.container
  margin auto
  padding 0 containerPaddingHorizontal

.row
  display flex
  flex-direction row
  flex-wrap wrap
  padding rowPaddingVertical rowPaddingHorizontal

.columns
  padding 0 columnPaddingHorizontal

  for device in devices
    for columnsToSpan in (1..gridColumns)
      +above(device)
        &.{device}-{columnsToSpan}
          column(columnsToSpan, gridColumns)



