gridColumns = 12
devices = ('mobile' 'tablet' 'desktop')
rowVerticalPadding = 0.5vh
rowHorizontalPadding = 0%
columnHorizontalPadding = 2%
columnVerticalPadding = 0
containerHorizontalPadding = 3%
containerVerticalPadding = 0