gridColumns = 12
devices = ('mobile' 'tablet' 'desktop')
rowVerticalPadding = 0.5vh
rowHorizontalPadding = 0
columnHorizontalPadding = 0.5rem
columnVerticalPadding = 0
containerHorizontalPadding = 1rem
containerVerticalPadding = 0