hover()
  &:hover
    background-color darken(@background-color, 5)


button, .button
  border none
  cursor pointer
  display inline-block
  transition 0.2s all
  padding 1rem

  &.big
    padding @padding * 2

  &.small
    padding @padding * 0.5

  &.primary
    background-color colorPrimary
    hover()

  &.alert
    background-color colorAlert
    hover()

  &.success
    background-color colorSuccess
    hover()


