generateButton(backgroundColor = colorDefault)
  background-color backgroundColor

  adjustBorderColorForBackgroundColor()
  adjustTextColorForBackgroundColor()
  hover()


adjustTextColorForBackgroundColor(backgroundColor = @background-color)
  if dark(backgroundColor)
    color colorLight
  else
    color colorDark


adjustBorderColorForBackgroundColor(backgroundColor = @background-color)
  if lightness(backgroundColor) > 90%
    border-color colorDark
  else
    border-color transparent

hover()
  &:hover
    background-color darken(@background-color, 5)
    adjustTextColorForBackgroundColor()


button, .button
  border none
  cursor pointer
  display inline-block
  transition 0.2s all
  padding buttonPaddingVertical buttonPaddingHorizontal
  border-radius borderRadius
  border 1px solid transparent
  generateButton()

  &.big
    padding buttonPaddingVertical * 2 buttonPaddingHorizontal * 2

  &.small
    padding buttonPaddingVertical * 0.5 buttonPaddingHorizontal * 0.5

  &.primary
    generateButton(colorPrimary)

  &.alert
    generateButton(colorAlert)

  &.success
    generateButton(colorSuccess)


