colorPrimary = gold
colorError = red
colorAlert = red
colorWarning = orange
colorSuccess = green


numColumns = 12
devices = ('mobile' 'tablet' 'desktop')
rupture.mobile-cutoff = 320px
rupture.desktop-cutoff = 1024px
rupture.scale = 0 (rupture.mobile-cutoff) (rupture.desktop-cutoff)
rupture.scale-names = 'mobile' 'tablet' 'desktop'
mobile = 320px
tablet = 768px
desktop = 1024px