colorDefault = white
colorPrimary = darkcyan
colorError = red
colorAlert = darkred
colorWarning = orange
colorSuccess = green

/* media queries */
rupture.mobile-cutoff = 320px
rupture.desktop-cutoff = 1024px
rupture.scale = 0 (rupture.mobile-cutoff) (rupture.desktop-cutoff)
rupture.scale-names = 'mobile' 'tablet' 'desktop'
rupture.anti-overlap = true
mobileWidth = 320px
tabletWidth = 768px
desktopWidth = 1024px

/* buttons */
buttonPaddingVertical = 0.5rem
buttonPaddingHorizontal = 1rem
borderRadius = 0.2rem
colorLight = white
colorDark = black




