colorDefault = white
colorPrimary = darkcyan
colorError = red
colorAlert = darkred
colorWarning = orange
colorSuccess = green

/* grid */
gridColumns = 12
devices = ('mobile' 'tablet' 'desktop')
rupture.mobile-cutoff = 320px
rupture.desktop-cutoff = 1024px
rupture.scale = 0 (rupture.mobile-cutoff) (rupture.desktop-cutoff)
rupture.scale-names = 'mobile' 'tablet' 'desktop'
rupture.anti-overlap = true
mobileWidth = 320px
tabletWidth = 768px
desktopWidth = 1024px

rowPaddingVertical = 0.5vh
rowPaddingHorizontal = 0%
columnPaddingHorizontal = 2%
containerPaddingHorizontal = 3%



/* buttons */
buttonPaddingVertical = 0.5rem
buttonPaddingHorizontal = 1rem
borderRadius = 0.2rem
colorLight = white
colorDark = black




