<section>
  <div>
    <a class="button big">This is a big button</a>
    <a class="button">This is a button</a>
    <a class="button small">This is a small button</a>
  </div>
  <div>
    <a class="button primary big">This is a primary button</a>
    <a class="button primary">This is a primary button</a>
    <a class="button primary small">This is a primary button</a>
  </div>
  <div>
    <a class="button alert big">This is a danger button</a>
    <a class="button alert">This is a danger button</a>
    <a class="button alert small">This is a danger button</a>
  </div>
  <div>
    <a class="button success big">This is a success button</a>
    <a class="button success">This is a success button</a>
    <a class="button success small">This is a success button</a>
  </div>
</section>
