<section ng-controller="GridCtrl">
  <h1>The grid</h1>
  <form>
    <button class="button primary" ng-click="generateRows()">Generate rows</button>
    <div class="row">
      <div class="mobile-4 columns">
        <label for="numRows">Number of rows</label>
        <input type="number" id="numRows" ng-model="numRows" ng-change="updateRows()"/>
      </div>
      <div class="mobile-4 columns">
        <label for="containersPerRow">Containers per row</label>
        <input type="number" id="containersPerRow" ng-model="containersPerRow" ng-change="updateRows()"/>
        <input type="checkbox" ng-model="randomContainersPerRow"/><span>Random</span>
      </div>
    </div>
    </div>
      <input type="checkbox" ng-model="fillEmptySpace"/><span>Fill empty space</span>
    </div>
  </form>
  <div class="grid-container">
    <div class="row stack-mobile" ng-repeat="row in rows">
      <div ng-repeat="container in row"
           class="mobile-{{container.mobile}}
                  tablet-{{container.tablet}}
                  desktop-{{container.desktop}}
                  columns">
              <span class="visible-mobile">{{container.mobile}}</span>
              <span class="visible-tablet">{{container.tablet}}</span>
              <span class="visible-desktop">{{container.desktop}}</span>
      </div>
    </div>
  </div>
</section>
