<section ng-controller="GridCtrl">
  <h1>The grid</h1>
  <div class="row">
    <button class="button primary" ng-click="generateRows()">Generate rows</button>
  </div>
  <div class="grid-container">
    <div class="row" ng-repeat="row in rows">
      <div ng-repeat="container in row"
           class="mobile-{{container.mobile}}
                  tablet-{{container.tablet}}
                  desktop-{{container.desktop}}
                  columns">
              <span class="visible-mobile">{{container.mobile}}</span>
              <span class="visible-tablet">{{container.tablet}}</span>
              <span class="visible-desktop">{{container.desktop}}</span>
      </div>
    </div>
  </div>
</section>
