bg = gold

.grid-container
  font-weight bold

  .row
    border 2px solid darken(bg, 60%)
    background darken(bg, 20%)

    &:not(:first-of-type)
      border-top none

    .columns
      background bg
      text-align center
      line-height 2

      border 1px solid darken(bg, 20%)

      > *
        white-space nowrap
